#menu {
    width: 100%;
    background-color: rgba(243, 243, 243, 0.95);
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    z-index: 1000;
}

#menu-content {
    max-width: 1700px;
    margin: auto;
}

.menu-item {
    width: 160px;
    height: 50px;
    position: relative;
    transition: width 0.15s;
    user-select: none;
}

.menu-show {
    display: none;
}

.menu-show-img {
    width: 100%;
}

.menu-element {
    cursor: pointer;
    overflow: hidden;
    color: black;
    fill: black;
}

.menu-element::before {
    background: #ea2026;
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%);
    transition: height 0.6s, width 0.6s, background 0.6s;
    width: 200%;
    height: 0%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-logo {
    fill: black;
    transition: fill 0.24s;
    cursor: pointer;
    overflow: hidden;
}

.menu-logo:hover {
    fill: #ea2026;
}

.menu-element:hover::before {
    height: 600%;
}

.menu-element:hover {
    color: white;
    fill: white;
}

.menu-separator {
    height: 50px;
    width: 1px;
    background-color: rgb(223, 223, 223);
}

.menu-link {
    z-index: 2;
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: font-size 0.24s, letter-spacing 0.24s, color 0.24s, fill 0.24s;
}

.menu-item img,
.menu-item svg {
    max-width: 100%;
    max-height: 60%;
}

#menu-pages {
    display: block;
    overflow: visible;
    max-height: 50px;
}

@media screen and (max-width: 900px) {
    .menu-item {
        width: 125px;
    }
    .menu-link {
        font-size: 8pt;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 720px) {
    .menu-item {
        transition: width 0.0s;
    }
    .menu-link {
        transition: font-size 0.0s, letter-spacing 0.0s, color 0.24s, fill 0.24s;
    }
}

@media screen and (max-width: 620px) {
    #menu {
        background-color: rgb(243, 243, 243);
    }
    .menu-btn {
        display: block;
        width: 100%;
    }
    .menu-separator {
        display: none;
    }
    #menu-pages {
        width: 100%;
        transition: max-height 0.6s;
        max-height: 0;
        height: auto;
        background-color: rgb(231, 231, 231);
        overflow: hidden;
    }
    .menu-show {
        display: block;
    }
    .menu-link {
        font-size: 10pt;
        letter-spacing: 2px;
    }
    .menu-element::before {
        background: transparent;
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        transition: height 0.24s, width 0.24s, background 0.24s;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: translate(0) rotate(0);
    }
    .menu-element:hover::before {
        background: #ea2026;
    }
}