:root {
    --table-border-color: rgb(199, 199, 199);
}

::selection {
    background-color: rgb(234, 32, 38, 0.9);
    color: white;
}

html {
    overflow-y: scroll;
}

body {
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgb(225, 225, 225);
    background-image: url(resources/bg.png);
    background-position: center top;
    caret-color: #696969;
}

html {
    scroll-behavior: smooth;
}

img {
    vertical-align: bottom;
    box-sizing: border-box;
}

form {
    display: inline;
}

a {
    color: black;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-y {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#main-content {
    box-sizing: border-box;
    padding-top: 50px;
    transition: padding-top 0.6s;
    margin: auto;
    max-width: 1700px;
    background-color: rgb(235, 235, 235);
    padding: 50px 0px 50px 0px;
    min-height: 100vh;
    position: relative;
}

#main-content a {
    text-decoration: underline;
    color: black;
    transition: color 0.14s;
}

#main-content a:hover {
    color: #ea2026;
}

.content-section {
    padding: 0px 25px 25px 25px;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 18pt;
}

ul {
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
}

.datatable table {
    border: 1px solid var(--table-border-color);
    border-collapse: separate;
    border-left: 0;
    border-radius: 10px;
    border-spacing: 0px;
    width: 100%;
    overflow: hidden;
}

.datatable thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}

.datatable tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: rgb(244, 244, 244);
}

.datatable tr:nth-child(even) {
    background-color: rgb(244, 244, 244);
}

.datatable th,
.datatable td {
    padding: 5px 8px 6px 8px;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid var(--table-border-color);
}

.datatable th {
    background-color: rgb(250, 250, 250);
}

.datatable td {
    border-top: 1px solid var(--table-border-color);
}

.datatable thead:first-child tr:first-child th:first-child,
.datatable tbody:first-child tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

.datatable thead:last-child tr:last-child th:first-child,
.datatable tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.datatable .button-cell {
    padding: 0;
    min-width: 39px;
    width: 39px;
}

.datatable .more-button {
    text-align: center;
    height: 36px;
}

.datatable .more-button .more-button-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.datatable .more-button .more-button-link:hover {
    background-color: rgb(251, 251, 251);
    cursor: pointer;
}

.datatable .more-button img {
    max-height: 20px;
    max-width: 20px;
    pointer-events: none;
}

.dropdown-content {
    text-align: left;
    position: absolute;
    background-color: rgb(244, 244, 244);
    min-width: 160px;
    z-index: 1;
    transform: translate(-100%, 0px) translateX(40px) scaleY(0);
    transform-origin: 50% 0%;
    box-sizing: border-box;
    border-color: var(--table-border-color);
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    overflow: hidden;
    opacity: 0;
    transition: transform 0.24s, opacity 0.14s;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    color: black;
    background-color: rgb(244, 244, 244);
    padding: 8px 12px;
    text-decoration: none !important;
    display: block;
    transition: background-color 0.14s, color 0.14s !important;
}

.dropdown-content a:hover {
    background-color: rgb(251, 251, 251);
}

.dropdown-show {
    transform: translate(-100%, 8px) translateX(40px) scaleY(1);
    opacity: 1;
}

.formtable input {
    width: 100%;
}

.formtable table {
    width: 100%;
}

.formtable tr {
    height: 45px;
}

input[type=text],
input[type=password],
input[type=email] {
    border-color: var(--table-border-color);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    min-height: 32px;
    background-color: rgb(242, 242, 242);
    padding: 3px 10px;
    transition: background-color 0.24s, border-color 0.24s;
    font-size: 12pt;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=email]:hover,
input[type=email]:focus {
    background-color: rgb(250, 250, 250);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border-color: rgb(140, 140, 140)
}

input[type=file] {
    display: none;
}

#cislo-field {
    width: 100%;
}

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: rgb(242, 242, 242);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(100, 100, 100) transparent transparent transparent;
    transition: border-color 0.2s, top 0.3s;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: black;
    padding: 3px 28px 3px 10px;
    min-height: 32px;
    font-size: 12pt;
    border: 1px solid transparent;
    border-color: var(--table-border-color);
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    opacity: 100%;
    transition: background-color 0.14s, border-color 0.14s, opacity 0.14s;
    user-select: none;
}

.select-items div {
    font-size: 12pt;
    overflow: hidden;
    background-color: rgb(242, 242, 242);
    border-width: 1px 0 0 0;
    border-radius: 0px;
    margin-top: -1px;
    min-height: 40px;
    padding: 7px 28px 7px 10px;
}

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--table-border-color);
    transition: background-color 0.24s, border-color 0.24s, opacity 0.14s, transform 0.24s;
    transform: translateY(5px) scaleY(1);
    transform-origin: 50% 0%;
    opacity: 1;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.select-items.select-hide {
    opacity: 0;
    transform: translateY(0px) scaleY(0);
}

form {
    width: 100%;
}

button,
.button,
input[type=submit] {
    border-color: var(--table-border-color);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    min-height: 40px;
    min-width: 180px;
    background-color: rgb(242, 242, 242);
    padding: 3px 16px;
    transition: background-color 0.24s, border-color 0.24s, color 0.24s !important;
    font-size: 12pt;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin: 4px 2px;
    text-decoration: none !important;
    display: inline-block;
    user-select: none;
}

.button-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.submit-center {
    text-align: center;
    width: 100%;
}

button:hover,
.button:hover,
input[type=submit]:hover {
    background-color: rgb(250, 250, 250);
    border-color: rgb(140, 140, 140);
    color: black !important;
}

button:focus,
.button:active,
input[type=submit]:focus {
    background-color: rgb(230, 230, 230);
    border-color: rgb(50, 50, 50);
    color: black !important;
}

#error-msg,
#success-msg {
    margin: 5px;
    width: 100%;
    text-align: center;
}

#error-msg {
    color: #ea2026;
}

#success-msg {
    color: #32c050
}

.formlayered {
    text-align: center;
}

.formlayered {
    max-width: 400px;
    margin: auto;
}

.formlayered input:not([type=submit]) {
    width: 100%;
    margin: 4px 5px 15px 5px;
    text-align: center;
}

.formlayered input[type=submit] {
    margin: 8px 0px 0px 0px;
}

.formlayered label {
    display: block;
    text-align: center;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgb(250, 250, 250);
}

.select-selected:hover {
    background-color: rgb(250, 250, 250);
}

.select-selected.select-arrow-active {
    background-color: rgb(250, 250, 250);
    border-color: rgb(140, 140, 140);
}

#page-footer {
    height: 61px;
    padding: 0 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

#footer-jedu {
    max-height: 44px;
    margin: 8px 0px 8px 15px;
}

.footer-text {
    transform: translateY(17px);
}

.account-info {
    margin: 35px 25px;
}

.name-row {
    display: block;
    margin-bottom: 30px;
}

.user-img {
    display: inline-block;
}

.user-img img {
    max-height: 100px;
}

.user-id {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.user-name {
    margin-top: 15px;
    line-height: 40px;
    text-align: center;
    font-size: 24pt;
    display: block;
}

.user-role {
    font-size: 14pt;
    margin-left: 10px;
    display: block;
}

.account-table {
    margin-left: 20px;
}

.account-table table {
    width: 100%;
    border-collapse: collapse;
}

.account-table tr {
    height: 50px;
}

.account-table td {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--table-border-color);
}

.account-table tr:last-child td {
    border-width: 0;
}

.archiv-rocnik h4 {
    margin: 1px 0;
    width: 42px;
    display: inline-block;
}

.archiv-rocnik h5 {
    margin: 0;
    width: 75px;
    display: inline-block;
    font-weight: normal;
}

.archiv-rocnik a {
    margin: 0;
    width: 56px;
    display: inline-block;
    font-weight: normal;
}

.confirm,
.result {
    margin: 40px 10px 35px 10px;
    text-align: center;
    font-size: 16pt;
}

.file-button,
.file-reset-button {
    min-height: 32px;
}

.file-button {
    min-width: 140px;
    margin: 0px 15px 0px 0px;
}

.file-reset-button {
    min-width: 32px;
    width: 32px;
    margin: 0px 15px 0px 15px;
    display: none;
}

.file-reset-button.show {
    display: inline-block;
}

.file-button .button-text-center,
.file-reset-button .button-text-center {
    height: 24px;
}

.inline-button {
    text-decoration: none !important;
    user-select: none;
    cursor: pointer;
    min-width: 1.5em;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
    border-radius: 30%;
    transition: border-radius 0.34s, background-color 0.14s, color 0.14s !important;
}

.inline-button:hover {
    border-radius: 50%;
    background-color: #ea2026;
    color: white !important;
}

@media screen and (max-width: 620px) {
    a.anchor {
        top: -250px;
    }
    .user-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .user-id {
        display: block;
        margin-left: 0;
    }
    .user-name {
        font-size: 20pt;
    }
    .user-role {
        text-align: center;
        font-size: 12pt;
        margin: 0;
    }
    .account-info {
        margin: 25px 0px;
    }
    .account-table {
        margin-left: 0;
    }
}